
.ipynb_checkpoints/Drag Race-checkpoint.ipynb
Drag Race Optimize.ipynb
.DS_Store
.ipynb_checkpoints/Drag Race All Stars-checkpoint.ipynb
.ipynb_checkpoints/Drag Race Final-checkpoint.ipynb
.ipynb_checkpoints/Drag Race Optimize-checkpoint.ipynb
.ipynb_checkpoints/Drag Race Season 9 Princess Points-checkpoint.ipynb
.ipynb_checkpoints/Drag Race Season 9-checkpoint.ipynb
*.ipynb_checkpoints*
.Rproj.user
